body {
    overflow-x: hidden;
}

img.logo-top {
    max-width: 3em;
}

.login-imagem img.logo-top {
    max-width: 10em;
}

.btn-rigth {
    text-align: right;
}

nav.laranja,
button.laranja,
.btn-laranja {
    background-color: #FD6801 !important;
    color: white !important;
}

button.laranja,
.btn-laranja:hover {
    background-color: white;
}

nav.laranja .menu a {
    text-decoration: none;
    color: white;
    border: 0;
}

nav.laranja .menu a:hover {
    color: black !important;
}

nav.laranja .setings a {
    text-decoration: none;
    color: black;
}

button.btn-laranja-validar {
    margin-top: 2em;
}

.div_checking {
    padding-top: 0 !important;
}

.div_layout {
    position: relative;
    width: 100%;
}

.div_layout div {
    /* overflow: hidden; 
    position: inherit; 
    height: 600px; 
    padding: 10px; 
    align-items: center; */
}

.div_modelo {
    padding: 0px;
    position: absolute;
    z-index: 99;
    border: 1px solid red;
    display: none;
    text-align: right;
    box-shadow: 0 0 0 9999px rgba(0, 0, 255, 0.5);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
}

.div_imagem {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transform: rotateY(10deg);
    display: none;
    margin: auto;
}

.div_imagem canvas {
    max-width: -webkit-fill-available;
    margin: auto;
    border: 1px solid #000000;
    max-height: 572px;
}

.div_video {
    position: absolute;
    /* display: none !important; */
}

#imagem_modal {
    width: 100%;
    border-radius: 0em !important;
}

#alertas {
    position: absolute;
    width: 100%;
}

#content_modelo {
    position: absolute;
    height: 96%;
    width: 96%;
    z-index: 99;
    margin: 0 auto;
    align-items: center;
}

#content_modelo #div_modelo {
    border: 1px solid aqua; 
    padding: 0px;
    position: absolute; 
    resize: both;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
}

#my-player {
    display: none;
}

.video-js .vjs-tech {
    position: fixed;
}

.vjs-control-bar {
    font-size: 4px;
    margin-bottom: -12px;
}

#x {    
    right: -40px;
    position: absolute;
    max-width: 35px;
    max-height: 35px;
}

.info-midia {
    /* display: none; */
}

.info-midia .nome {
    position: absolute;
}

.info-midia .tamanho {
    float: right;
}

.dataTables_length select {
    min-width: 60px;
}

.barra-lista {
    height: 3em;
    text-align: right;
    background-color: #6c757d;
    padding: 9px;
}

.barra-lista .btn-laranja {
    background-color: #FD6801;
    color: #ffffff;
}

header a {
    text-decoration: none;
    color: black;
}

/* Início - Alerts */
p.erro-input {
    display: none;
    font-size: 12px;
    color: red;
    position: absolute;
}

input.form-control.erro-input {
    border: 1px solid red;
}

div.alert {
    position: absolute;
    width: 100%;
}
/* Fim - Alerts */

/* Início - Confirmação */
.modal-content {
    margin-top: 50%;
}

.modal-content .modal-header {
    color: #ffffff;
    text-align: left;
    background-color: #6c757d;
}
/* Fim - Comfirmação */

/* Início - Usuário */
div.input-troca-senha {
    display: none;
}
/* Fim - Usuário */