img.logo-top {
    max-width: 3em;
}

.login-imagem img.logo-top {
    max-width: 10em;
}

nav.laranja,
button.laranja {
    background-color: #FD6801 !important;
    color: white !important;
}

nav.laranja .menu a {
    text-decoration: none;
    color: white;
    border: 0;
}

nav.laranja .menu a:hover {
    color: black !important;
}

nav.laranja .setings a {
    text-decoration: none;
    color: black;
}

button.btn-laranja-validar {
    margin-top: 2em;
}

#div_layout {
    position: relative;
    height: 100%;
    width: 100%;
    /* perspective: 200px; */
}

#div_imagem {
    padding: 50px;
    transform-style: preserve-3d;
    transform: rotateY(10deg);
}

#alertas {
    position: absolute;
    width: 100%;
}

#content_modelo {
    position: absolute;
    height: 96%;
    width: 96%;
    z-index: 99;
    margin: 0 auto;
    align-items: center;
}

#content_modelo #div_modelo {
    border: 1px solid aqua; 
    position: absolute; 
    height: 300px; 
    width: 150px;
}